/* شكل عام */
body {
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
}

/* صندوق التطبيق */
.container {
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

/* العناوين */
h2, h3 {
  margin-bottom: 15px;
}

/* الحقول */
input {
  width: 90%;
  padding: 8px;
  margin:
